@import "tailwindcss";
@import "./styles/theme/dark.css";
@import "./styles/fonts.css";
@import "./styles/color.css";

@theme {
  --color-kakao: #fee500;

  --shadow-ds50: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-ds100: 0 0 10px 0 rgba(0, 0, 0, 0.08);
  --shadow-ds150: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
@layer base {
  .theme-switching *,
  .theme-switching *::before,
  .theme-switching *::after {
    transition-property: background-color, color, border-color, fill, stroke;
    transition-timing-function: ease;
    transition-duration: 300ms;
  }
}
@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    background: transparent;
  }
  .scrollbar-style::-webkit-scrollbar-track {
    background: transparent; /* 트랙을 투명하게, 배경색 유지 */
  }
  .scrollbar-style::-webkit-scrollbar-thumb {
    background: var(--color-sub-800);
    border-radius: 10px;
  }

  /* Firefox 대응 */
  .scrollbar-style {
    scrollbar-width: thin;
    scrollbar-color: var(--color-sub-800) transparent;
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-blue-900 {
    background-color: var(--color-blue-900);
  }
  .bg-blue-850 {
    background-color: var(--color-blue-850);
  }
  .bg-blue-800 {
    background-color: var(--color-blue-800);
  }
  .bg-blue-700 {
    background-color: var(--color-blue-700);
  }
  .bg-blue-600 {
    background-color: var(--color-blue-600);
  }
  .bg-blue-500 {
    background-color: var(--color-blue-500);
  }
  .bg-blue-400 {
    background-color: var(--color-blue-400);
  }
  .bg-blue-300 {
    background-color: var(--color-blue-300);
  }
  .bg-blue-200 {
    background-color: var(--color-blue-200);
  }
  .bg-blue-150 {
    background-color: var(--color-blue-150);
  }
  .bg-blue-100 {
    background-color: var(--color-blue-100);
  }
  .bg-blue-50 {
    background-color: var(--color-blue-50);
  }

  .text-primary {
    color: var(--color-primary);
  }
  .text-blue-900 {
    color: var(--color-blue-900);
  }
  .text-blue-850 {
    color: var(--color-blue-850);
  }
  .text-blue-800 {
    color: var(--color-blue-800);
  }
  .text-blue-700 {
    color: var(--color-blue-700);
  }
  .text-blue-600 {
    color: var(--color-blue-600);
  }
  .text-blue-500 {
    color: var(--color-blue-500);
  }
  .text-blue-400 {
    color: var(--color-blue-400);
  }
  .text-blue-300 {
    color: var(--color-blue-300);
  }
  .text-blue-200 {
    color: var(--color-blue-200);
  }
  .text-blue-150 {
    color: var(--color-blue-150);
  }
  .text-blue-100 {
    color: var(--color-blue-100);
  }
  .text-blue-50 {
    color: var(--color-blue-50);
  }

  .border-blue-900 {
    border-color: var(--color-blue-900);
  }
  .border-blue-850 {
    border-color: var(--color-blue-850);
  }
  .border-blue-800 {
    border-color: var(--color-blue-800);
  }
  .border-blue-700 {
    border-color: var(--color-blue-700);
  }
  .border-blue-600 {
    border-color: var(--color-blue-600);
  }
  .border-blue-500 {
    border-color: var(--color-blue-500);
  }
  .border-blue-400 {
    border-color: var(--color-blue-400);
  }
  .border-blue-300 {
    border-color: var(--color-blue-300);
  }
  .border-blue-200 {
    border-color: var(--color-blue-200);
  }
  .border-blue-150 {
    border-color: var(--color-blue-150);
  }
  .border-blue-100 {
    border-color: var(--color-blue-100);
  }
  .border-blue-50 {
    border-color: var(--color-blue-50);
  }
  .bg-sub-950 {
    border-color: var(--color-sub-950);
  }
  .bg-sub-900 {
    background-color: var(--color-sub-900);
  }
  .bg-sub-800 {
    background-color: var(--color-sub-800);
  }
  .bg-sub-700 {
    background-color: var(--color-sub-700);
  }
  .bg-sub-600 {
    background-color: var(--color-sub-600);
  }
  .bg-sub-500 {
    background-color: var(--color-sub-500);
  }
  .bg-sub-400 {
    background-color: var(--color-sub-400);
  }

  .text-sub-900 {
    color: var(--color-sub-900);
  }
  .text-sub-800 {
    color: var(--color-sub-800);
  }
  .text-sub-700 {
    color: var(--color-sub-700);
  }
  .text-sub-600 {
    color: var(--color-sub-600);
  }
  .text-sub-500 {
    color: var(--color-sub-500);
  }
  .text-sub-400 {
    color: var(--color-sub-400);
  }

  .border-sub-900 {
    border-color: var(--color-sub-900);
  }
  .border-sub-800 {
    border-color: var(--color-sub-800);
  }
  .border-sub-700 {
    border-color: var(--color-sub-700);
  }
  .border-sub-600 {
    border-color: var(--color-sub-600);
  }
  .border-sub-500 {
    border-color: var(--color-sub-500);
  }
  .border-sub-400 {
    border-color: var(--color-sub-400);
  }

  .bg-point1 {
    background-color: var(--color-point1);
  }
  .bg-point2 {
    background-color: var(--color-point2);
  }

  .text-point1 {
    color: var(--color-point1);
  }
  .text-point2 {
    color: var(--color-point2);
  }

  .border-point1 {
    border-color: var(--color-point1);
  }
  .border-point2 {
    border-color: var(--color-point2);
  }

  .bg-alert {
    background-color: var(--color-alert);
  }
  .bg-caution {
    background-color: var(--color-caution);
  }
  .bg-positive {
    background-color: var(--color-positive);
  }

  .text-alert {
    color: var(--color-alert);
  }
  .text-caution {
    color: var(--color-caution);
  }
  .text-positive {
    color: var(--color-positive);
  }

  .border-alert {
    border-color: var(--color-alert);
  }
  .border-caution {
    border-color: var(--color-caution);
  }
  .border-positive {
    border-color: var(--color-positive);
  }

  .bg-bgStrong {
    background-color: var(--color-bg-strong);
  }
  .bg-normal {
    background-color: var(--color-normal);
  }
  .bg-alternative {
    background-color: var(--color-alternative);
  }
  .bg-assistive {
    background-color: var(--color-assistive);
  }
  .bg-disabled {
    background-color: var(--color-disabled);
  }

  /* 텍스트 */
  .font-strong {
    color: var(--color-text-strong);
  }
  .font-normal {
    color: var(--color-text-normal);
  }
  .font-alternative {
    color: var(--color-text-alternative);
  }
  .font-assistive {
    color: var(--color-text-assistive);
  }
  .font-disabled {
    color: var(--color-text-disabled);
  }

  .border-strong {
    border-color: var(--color-strong);
  }
  .border-normal {
    border-color: var(--color-normal);
  }
  .border-alternative {
    border-color: var(--color-alternative);
  }
  .border-assistive {
    border-color: var(--color-assistive);
  }
  .border-disabled {
    border-color: var(--color-disabled);
  }

  .bg-bgNormal {
    background-color: var(--color-bgNormal);
  }
  .bg-bgPrimary {
    background-color: var(--color-bgPrimary);
  }

  .text-bgNormal {
    color: var(--color-bgNormal);
  }
  .text-bgPrimary {
    color: var(--color-bgPrimary);
  }

  .border-bgNormal {
    border-color: var(--color-bgNormal);
  }
  .border-normal {
    border-color: var(--color-normal);
  }
  .border-bgPrimary {
    border-color: var(--color-bgPrimary);
  }
}

/*-------------색상 정의----------------*/

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
